h3{
    padding-top: 15px;

}
.parent {
  border: 1px transparent black;
  border-radius: 10px;
  width: 40%;
  text-align: center;
  margin: 10% auto;
  background-color: white;
}

body {
    overflow: hidden;
    background-color: burlywood;
}


ul {
  list-style-type: none;
  
  margin: 0;
  width: 90%;
  
}

li{
    
    text-align: left;
    margin-bottom: 10px;
}

div > div > input {
    margin-left: 100px;
    
}

input[type='checkbox']:checked+label{
    text-decoration: line-through;  
}

.button-container{
    margin-top: 15px ;
}

.list-items{
    text-align: left;
    margin: 15px;
    padding-bottom: 15px;
    
}

button {
    text-align: center;
    font-style: italic;
    border-radius: 15px;
    margin: 15px;
    text-transform: uppercase;
}

button:hover{
    background-color: cyan;
    border-radius: 15px;
}

.done{
    text-decoration: line-through;    
}

/*
text decoration line-through per linea in mezzo a testo
*/
