@import url("@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');");

*{
    box-sizing: border-box;
}

body{
    background-image: url('./snow.jpg');
    background-size: cover;
    background-position: center center;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    margin: 0;
}

h1{
    text-align: center;
    color: blue;
    
    margin: 0 0 1px 0;
    font-size: 50px;
}

.parent{
    display: flex;
    
    height: auto;
    width: 50%;
}

.child {
    
    height: 100%;
    width: 33%;
    text-align: center;
}

.number{
    font-size: 50px;
}

.text{
    font-style: italic;
}

